<div class={{prozirnost.prozirnost}} class='kontejner'> 
<app-proizvod  [proizvod]="proizvodi[0]" [korpa]='korpa'></app-proizvod>
<app-proizvod  [proizvod]="proizvodi[1]" [korpa]='korpa'></app-proizvod>
<app-proizvod  [proizvod]="proizvodi[2]" [korpa]='korpa'></app-proizvod>
<app-proizvod  [proizvod]="proizvodi[3]" [korpa]='korpa'></app-proizvod>
<app-proizvod  [proizvod]="proizvodi[4]" [korpa]='korpa'></app-proizvod>
<app-proizvod  [proizvod]="proizvodi[5]" [korpa]='korpa'></app-proizvod>
</div>

<app-korpa [korpa]='korpa' [prozirnost]='prozirnost'></app-korpa>